<template>
  <div class="card">
    <div class="card-body">
      <h1>สินค้าทั้งหมด({{ products.length }})</h1>
      <button @click="fetch()" class="btn btn-secondary">สินค้าปัจจุบัน</button>
      <button @click="fetchDel()" class="btn btn-secondary">สินค้าปลดระวาง</button>
      <hr />
      <select v-model="status" class="form-control">
        <option value="1">ปกติ</option>
        <option value="2">กำลังถูกเช่า</option>
        <option value="3">กำลังซ่อม</option>
        <option value="4">กำลังทำความสะอาด</option>
      </select>
      <hr />
      <router-link to="/admin/products/create">
        <button class="btn btn-primary">Add</button>
      </router-link>
      <hr />
      <b-pagination
        v-model="currentPage"
        :total-rows="products.length"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <b-table
        striped
        hover
        :items="products"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(img_url)="data">
          <img :src="data.value" width="40" />
        </template>

        <template v-slot:cell(weight)="data">
          {{
          data.value ? data.value : "-"
          }}
        </template>

        <template v-slot:cell(action)="row">
          <router-link :to="`/admin/products/${row.item.id}/edit`">
            <button class="btn btn-warning">Edit</button>
          </router-link>
          <button
            class="btn btn-danger"
            @click="del(row.item.id)"
            v-if="!row.item.delete_at"
          >ปลดระวาง</button>

          <button class="btn btn-primary" @click="unDel(row.item.id)" v-else>ยกเลิกปลดระวาง</button>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
import _ from "lodash";
export default {
  data() {
    return {
      status: 1,
      perPage: 5,
      currentPage: 1,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: [
        "id",
        "name",
        "range",
        "deposit",
        "model",
        "weight",
        { key: "img_url", label: "Image" },
        "Action"
      ]
    };
  },
  computed: {
    ...mapGetters({
      product: "product/all"
    }),
    products() {
      return _.filter(this.product, el => el.status == this.status);
    }
  },
  methods: {
    ...mapActions({
      fetch: "product/fetchAdminAll",
      fetchDel: "product/fetchAdminAllDel"
    }),
    async del(id) {
      await axios.delete(`/api/products/${id}?undel=0`);
      // ProductController@destroy request->undel=0
      this.fetch();
    },
    async unDel(id) {
      await axios.delete(`/api/products/${id}?undel=1`);
      // ProductController@destroy request->undel=1

      this.fetchDel();
    }
  },
  created() {
    this.fetch();
  }
};
</script>

<style></style>
