<template>
  <div class="card mb-2">
    <div class="card-body">
      เพิ่มสินค้า
      <hr />
      <!-- {{form}} -->
      <div class="card card-body">
        <label for>Image Upload</label>
        <input type="file" class="form-control" multiple @change="setFile" />
        <div class="row">
          <div class="col-md-3 my-3" v-for="(item, index) in form.imgs" :key="index">
            <img :src="item" alt :key="index" width="100%" />
            <button @click="removeImgs(index)" class="btn btn-danger w-100 text-center">x</button>
          </div>
        </div>
      </div>

      <div class="card card-body mt-2">
        <label for>Product Marks</label>
        <input type="file" class="form-control" multiple @change="setFileMarks" />
        <div class="row">
          <div class="col-md-3 my-3" v-for="(item, index) in form.img_marks" :key="index">
            <img :src="item" alt :key="index" width="100%" />
            <button @click="removeImgMarks(index)" class="btn btn-danger w-100 text-center">x</button>
          </div>
        </div>
      </div>

      <form @submit.prevent="add">
        <div v-for="item in fileds" :key="item.id" :class="item.class ? item.class : ''">
          <div class="form-group" v-if="item.type == 1">
            <label>
              {{ item.label ? item.label : item.name }}
              {{ item.require ? "*" : "" }}
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              v-model="form[`${item.name}`]"
              :required="item.require"
            />
          </div>

          <div class="form-group" v-if="item.type == 2">
            <label>
              {{ item.label ? item.label : item.name }}
              {{ item.require ? "*" : "" }}
            </label>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              v-model="form[`${item.name}`]"
              :required="item.require"
            />
          </div>

          <div class="form-group" v-if="item.type == 3">
            <label>
              {{ item.label ? item.label : item.name }}
              {{ item.require ? "*" : "" }}
            </label>
            <textarea
              v-model="form[`${item.name}`]"
              cols="30"
              rows="10"
              class="form-control"
              :required="item.require"
            ></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for>color</label>

          <a class="btn btn-outline-primary" @click="fetchColor">Refresh</a>
          <hr />
          <select v-model="form.color" class="form-control" multiple>
            <option :value="item.id" v-for="(item, index) in colors" :key="index">{{ item.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for>model</label>

          <a class="btn btn-outline-primary" @click="fetchColor">Refresh</a>
          <hr />

          <select v-model="form.product_model_id" class="form-control">
            <option :value="item.id" v-for="(item, index) in models" :key="index">{{ item.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for>สถานะ</label>

          <br />

          <select v-model="form.status" class="form-control">
            <option value="1">ปกติ</option>
            <option value="2">กำลังถูกเช่า</option>
            <option value="3">กำลังซ่อม</option>
            <option value="4">กำลังทำความสะอาด</option>
          </select>
        </div>
        <div class="form-group">
          <div class>
            <!-- Submit Button -->
            <v-button :loading="form.busy">{{!id?'Create':'Edit'}}</v-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions({
      fetchColor: "color/fetch",
      fetchCat: "category/fetch",
      fetchB: "brand/fetch",
      fetchModel: "model/fetch",
      showProduct: "product/show"
    }),
    async setFile(e) {
      this.file = e.target.files[0];
      let d = await this.uploadFile({
        file: this.file,
        path: "imgs"
      });
      this.form.imgs.push(d);
    },
    async setFileMarks(e) {
      this.file = e.target.files[0];
      let d = await this.uploadFile({
        file: this.file,
        path: "imgs"
      });
      this.form.img_marks.push(d);
    },
    async add() {
      if (!this.id) {
        const { data } = await this.form.post("/api/products");
        if (data) {
          this.$router.push("/admin/products");
        }
      } else {
        const { data } = await this.form.put(`/api/products/${this.id}`);
        if (data) {
          this.$router.push("/admin/products");
        }
      }
    },
    removeImgs(index) {
      this.$delete(this.form.imgs, index);
    },
    removeImgMarks(index) {
      this.$delete(this.form.img_marks, index);
    }
  },
  computed: {
    ...mapGetters({
      colors: "color/colors",
      categories: "category/categories",
      brands: "brand/brands",
      models: "model/models",
      show: "product/show"
    }),
    id() {
      return this.$route.params.id;
    }
  },
  data() {
    return {
      file: "",
      form: new Form({
        color: "",
        category_id: 1,
        brand_id: 1,
        imgs: [],
        img_marks: [],
        product_model_id: 1,
        status: 1,
        name: "",
        deposit: "",
        youtube_url: "",
        price: 1
      }),
      fileds: [
        {
          name: "name",
          label: "ชื่อ",
          type: 1,
          require: true
          // class: "bg-danger"
        },

        {
          name: "deposit",
          label: "ค่ามัดจำ",
          type: 2,
          require: true
        },
        {
          name: "youtube_url",
          type: 1
        },

        {
          name: "price",
          label: "ราคาสินค้า (ราคาจริง)",
          type: 2
        }
      ]
    };
  },
  async created() {
    if (this.id) {
      await this.showProduct(this.id);
      this.fileds.forEach((el, key) => {
        this.form[el.name] = this.show[el.name];
      });

      this.form.imgs = this.show.images.map(el => el.file_url);
      this.form.img_marks = this.show.marks.map(el => el.image_url);
    }
    this.fetchColor();
    this.fetchCat();
    this.fetchB();
    this.fetchModel();
  }
};
</script>

<style></style>
