<template>
  <div>
    <div class="container" v-if="products.length">
      <head-bar :title="titlex" :to="tox" v-if="!swaping" />
      <div class="row pb-4">
        <div class="col-md-3 mb-4" v-for="(product, index) in products" :key="index">
          <product-card :product="product" v-if="!swaping" />
          <div v-else>
            <img :src="product.img_url" class="w-100 p-2" height="200" />
            <h5 class="mt-2 text-dark">{{product.name}}</h5>
            <h6 class="text-secondary">เหมาะกับช่วงอายุ {{product.range}}</h6>
            <span v-if="product.price">เริ่มต้น {{ product.price}}฿</span>
            <a
              :href="`/swap/purchase/${purchase_id}/checkout/${product.id}?older=${older}`"
              class="btn btn-success float-right"
            >Swap</a>
            <!-- <button @click="swap()" class="btn btn-success"></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from "./Card";
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";

export default {
  props: [
    "titlex",
    "tox",
    "cat_id",
    "swaping",
    "purchase_id",
    "older",
    "product_id"
  ],
  components: {
    ProductCard
  },
  data() {
    return {
      products: []
    };
  },
  computed: {
    ...mapGetters({
      // products: "product/products",
      categories: "category/categories"
    })
  },
  methods: {
    // ...mapActions({
    //   fetch: "product/fetch"
    // }),
    async swap(product_id) {
      // let { data } = await axios.post("api/swap", {
      //   puchase_id: this.puchase_id,
      //   product_id
      // });
      Swal.fire({
        icon: "success",
        title: "Swap สินค้าสำเร็จ",
        timer: 1500
      });
    },
    async fetch(cat = "", swaping = false) {
      try {
        const { data } = await axios.get(
          "/api/products" +
            `${cat ? `?cat=${cat}` : ""}` +
            `${swaping ? `&swaping=1` : ""}`
        );
        this.products = data;
        // commit(types.FETCH_PRODUCT, { data });
      } catch (e) {
        console.log(e);
      }
    },
    async fetchRecentModel(product_id) {
      try {
        const { data } = await axios.get(
          `/api/products/recent/model/${product_id}`
        );
        this.products = data;
        // commit(types.FETCH_PRODUCT, { data });
      } catch (e) {
        console.log(e);
      }
    }
  },
  watch: {
    product_id() {
      this.fetchRecentModel(this.product_id);
    },
    cat_id() {
      this.fetch(this.cat_id, this.swaping);
    }
  },
  created() {
    if (this.product_id) {
      this.fetchRecentModel(this.product_id);
    } else {
      this.fetch(this.cat_id, this.swaping);
    }
  }
};
</script>

<style>
</style>
