<template>
  <div>
    <h1>เพิ่มหมวดหมู่</h1>
    <hr />
    <form @submit.prevent="add">
      <div v-for="item in fileds" :key="item.id" :class="item.class ? item.class :''">
        <div class="form-group" v-if="item.type==1">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>

        <div class="form-group" v-if="item.type==2">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>

        <div class="form-group" v-if="item.type==3">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <textarea
            v-model="form[`${item.name}`]"
            cols="30"
            rows="10"
            class="form-control"
            :required="item.require"
          ></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class>
          <!-- Submit Button -->
          <v-button :loading="form.busy">{{!id?'Create':'Edit'}}</v-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  created() {
    if (this.id) {
      this.fetchCat();
      let item = this.categories.find(el => el.id == this.id);
      this.fileds.forEach((el, key) => {
        this.form[el.name] = item[el.name];
      });
    }
  },
  methods: {
    ...mapActions({
      fetchColor: "color/fetch",
      fetchCat: "category/fetch",
      fetchB: "brand/fetch",
      fetchModel: "model/fetch"
    }),
    async add() {
      if (!this.id) {
        const { data } = await this.form.post("/api/categories");
        if (data) {
          this.$router.push("/admin/categories");
        }
      } else {
        const { data } = await this.form.put("/api/categories/" + this.id);
        if (data) {
          this.$router.push("/admin/categories");
        }
      }
    }
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    ...mapGetters({
      categories: "category/categories"
    })
  },
  data() {
    return {
      form: new Form({
        name: "",
        description: "",
        img_url: "",
        slug: "",
        group: ""
      }),
      fileds: [
        {
          name: "name",
          label: "ชื่อ",
          type: 1,
          require: true
          // class: "bg-danger"
        },
        {
          name: "description",
          label: "คำอธิบาย",
          type: 3,
          require: true
        },
        {
          name: "img_url",
          label: "Image_url",
          type: 1,
          require: true
        },
        {
          name: "slug",
          label: "Slug",
          type: 1,
          require: true
        },
        {
          name: "group",
          label: "Group",
          type: 1,
          require: true
        }
      ]
    };
  }
};
</script>

<style>
</style>
