<template>
  <div class="card">
    <div class="card-body">
      <h1>รายการทั้งหมด({{ items.length }})</h1>
      <div class="row">
        <div class="col-4">
          <input
            type="text"
            placeholder="ค้นหา"
            class="from-control p-1"
            @input="search()"
            v-model="inputx"
          />
        </div>
      </div>

      <hr />
      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(product.name)="data">
          สินค้าที่ต้องจัดส่ง : {{data.item.product.name}}
          <hr v-if="data.item.status == 4" />
          <div v-if="data.item.status == 4">สินค้าที่ต้องรับคืน : {{data.item.bef.product.name}}</div>
          <div v-if="data.value == 4"></div>
        </template>
        <template v-slot:cell(status)="data">
          <span v-if="data.value == 1">ชำระเงินแล้ว</span>
          <span v-if="data.value == 2">สินค้ากำลังจัดส่ง</span>
          <span v-if="data.value == 3">ได้รับสินค้าแล้ว</span>
          <span v-if="data.value == 4">Swap</span>
          <span v-if="data.value == 5">กำลังสิ้นสุดการเช่า</span>
          <span v-if="data.value == 6">สิ้นสุดการเช่า</span>
        </template>

        <template v-slot:cell(action)="row">
          <button
            class="btn btn-outline-primary"
            @click="
              setStatus(row.item.id, 2, row.item.purchase.user.mobile_number)
            "
            v-if="status_code == 1"
          >กำลังจัดส่งสินค้า</button>
          <button
            class="btn btn-outline-success mt-2"
            @click="
              setStatus(row.item.id, 3, row.item.purchase.user.mobile_number)
            "
            v-if="status_code == 2"
          >ลูกค้าได้รับสินค้าแล้ว</button>

          <button
            class="btn btn-outline-success mt-2"
            @click="
              setStatus(row.item.id, 3, row.item.purchase.user.mobile_number)
            "
            v-if="status_code == 4"
          >ส่งและรับส่งสินค้า</button>

          <button
            class="btn btn-outline-success mt-2"
            @click="
              setStatus(row.item.id, 6, row.item.purchase.user.mobile_number)
            "
            v-if="status_code == 5"
          >รับสินค้าและยุติการเช่า</button>

          <a :href="`/bills/${row.item.id}`" target="_blank">
            <button class="btn btn-success">
              <i class="fa fa-info" />
            </button>
          </a>

          <!-- <button class="btn btn-danger" @click="del(row.item.id)">delete</button> -->
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      inputx: "",
      perPage: 5,
      currentPage: 1,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: [
        "purchase.uid",
        "product.name",
        "purchase.user.name",
        "status",
        "Action"
      ]
    };
  },
  computed: {
    ...mapGetters({
      items: "adminPurchase/items"
    }),
    status_code() {
      return this.$route.params.status;
    }
  },
  watch: {
    status_code() {
      this.fetch({ q: this.inputx, status: this.status_code });
    }
  },
  methods: {
    search() {
      this.fetch({ q: this.inputx, status: this.status_code });
    },
    ...mapActions({
      fetch: "adminPurchase/fetch"
    }),
    setStatus(id, status, mobile) {
      Swal.fire({
        title: "คำเตือน",
        text:
          "ยืนยันการเปลี่ยนสถานะรายการสินค้า",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#0275d8",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      }).then(result => {
        if (result.value) {
          const { data } = axios.post("/api/admin/purchase/set_status", {
            id,
            status
          });
          this.fetch({ q: "", status: this.status_code });

          Swal.fire(
            "ทำรายการสำเร็จ!",
            "ระบบได้ทำรายการของคุณเสร็จสิ้นแล้วสำหรับการเปลี่ยนสถานะของรายการเช่าสินค้า.",
            "success"
          );
        }
      });
    }
  },
  created() {
    this.fetch({ q: "", status: this.status_code });
  }
};
</script>

<style></style>
