<template>
  <div>
    <h1>เพิ่มรุ่นสินค้า</h1>
    <hr />
    <form @submit.prevent="add">
      <div v-for="item in fileds" :key="item.id" :class="item.class ? item.class : ''">
        <div class="form-group" v-if="item.type == 1">
          <label>
            {{ item.label ? item.label : item.name }}
            {{ item.require ? "*" : "" }}
          </label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>

        <div class="form-group" v-if="item.type == 2">
          <label>
            {{ item.label ? item.label : item.name }}
            {{ item.require ? "*" : "" }}
          </label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>

        <div class="form-group" v-if="item.type == 3">
          <label>
            {{ item.label ? item.label : item.name }}
            {{ item.require ? "*" : "" }}
          </label>
          <textarea
            v-model="form[`${item.name}`]"
            cols="30"
            rows="10"
            class="form-control"
            :required="item.require"
          ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for>Category</label>
        <a class="btn btn-outline-primary" @click="fetchCat">Refresh</a>
        <hr />
        <select v-model="form.category_id" class="form-control">
          <option
            :value="item.id"
            v-for="(item, index) in categories"
            :key="index"
          >{{ item.group }}{{ item.name ? ` - ${item.name}` : "" }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for>Brand</label>
        <a class="btn btn-outline-primary" @click="fetchCat">Refresh</a>
        <hr />
        <select v-model="form.brand_id" class="form-control">
          <option :value="item.id" v-for="(item, index) in brands" :key="index">{{ item.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <div class>
          <!-- Submit Button -->
          <v-button :loading="form.busy">{{!id?'Create':'Edit'}}</v-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  created() {
    this.fetchModel();
    if (this.id) {
      let item = this.models.find(el => el.id == this.id);
      this.fileds.forEach((el, key) => {
        this.form[el.name] = item[el.name];
      });
    }
    this.fetchCat();
    this.fetchB();
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    ...mapGetters({
      colors: "color/colors",
      categories: "category/categories",
      brands: "brand/brands",
      models: "model/models"
    })
  },
  methods: {
    async add() {
      if (!this.id) {
        const { data } = await this.form.post("/api/models");
        if (data) {
          this.$router.push("/admin/models");
        }
      } else {
        const { data } = await this.form.put(`/api/models/${this.id}`);
        if (data) {
          this.$router.push("/admin/models");
        }
      }
    },
    ...mapActions({
      fetchColor: "color/fetch",
      fetchCat: "category/fetch",
      fetchB: "brand/fetch",
      fetchModel: "model/fetch"
    })
  },
  data() {
    return {
      form: new Form({
        category_id: 1,
        brand_id: 1,
        name: "",
        code: "",
        description: "",
        from_age: "",
        to_age: "",
        weight: ""
      }),
      fileds: [
        {
          name: "name",
          label: "ชื่อรุ่นสินค้า",
          type: 1,
          require: true
          // class: "bg-danger"
        },
        {
          name: "code",
          label: "code",
          type: 1,
          require: false
        },
        {
          name: "description",
          label: "คำอธิบาย",
          type: 1,
          require: true
        },
        {
          name: "from_age",
          label: "ตั้งแต่อายุ (หน้าทศนิยม คือ ปี / หลังทศนิยม คือ เดือน ex. 2.6)",
          type: 1,
          require: true
        },
        {
          name: "to_age",
          label: "ถึงอายุ (หน้าทศนิยม คือ ปี / หลังทศนิยม คือ เดือน ex. 2.6)",
          type: 1,
          require: true
        },
        {
          name: "weight",
          label: "น้ำหนัก (กิโลกรัม)",
          type: 2,
          require: true
        }
      ]
    };
  }
};
</script>

<style></style>
