<template>
    <div class="container">
       <div v-for="item in products" :key="item.id">
           {{ item.name }}
       </div>
    </div>
 
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    computed: {
    ...mapGetters({
      products: "product/all"
    })
    },
    methods: {
    ...mapActions({
      fetch: "product/fetchAll",
    }),
    },
    created(){
        this.fetch()
    }


}
</script>

<style>

</style>