<template>
  <div>
    <div class="container my-5 px-5 py-5">
      <div class="row">
        <div class="col-3 contact-details">
          <img src="/images/logo.png" width="250" />

          <h5>Chilrent</h5>
          <h6>
            <em>Address of issuer</em>
          </h6>
          <p>Contact details Spanning on multiple rows cuz bootstrap is awesome.</p>
        </div>
        <div class="col-1 offset-2">
          <p></p>
        </div>
        <div class="invoice-details col-4 offset-2 text-right">
          <h6>Invoice # {{purchase.purchase.uid}}-{{purchase.id}}</h6>
          <h6>Issued at: {{purchase.created_at}}</h6>
          <img
            src="https://th.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/basic_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png"
            width="150"
            alt
          />
        </div>
      </div>

      <div class="container-fluid invoice-letter mt-3">
        <div class="row">
          <div class="col-3 text-white pl-5 py-2 letter-title">
            <h5>ที่อยู่ในการจัดส่ง</h5>
          </div>
          <div class="col-9 text-white pr-5 py-2 letter-content">
            <p>{{purchase.purchase.user.name}} | {{purchase.purchase.user.email}}</p>
            <p>
              {{ purchase.purchase.pickup.information }} {{ purchase.purchase.pickup.subdistrict }} {{ purchase.purchase.pickup.district }}
              {{ purchase.purchase.pickup.province }} {{ purchase.purchase.pickup.zipcode }} โทร
              {{ purchase.purchase.pickup.mobile_number }}
            </p>
          </div>
        </div>
      </div>

      <div class="row table mt-5">
        <table class="invoice table table-hover">
          <thead class="thead">
            <tr>
              <th scope="col">NO.</th>
              <th scope="col">Item</th>
              <th scope="col">Qty.</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td class="item">{{purchase.product.name}}</td>
              <td>1</td>
              <td>
                {{purchase.price_all}}
                <span class="currency">฿</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <!-- invoiced to details -->
        <div class="offset-2 col-4">
          <div class="to text-right">
            <h5 class="effect-color pt-4">Invoiced to:</h5>
            <h4 class="theme-color">
              <strong>Company Name</strong>
            </h4>
            <h6>Address of issuer</h6>
            <p>Contact details Spanning on multiple rows cuz bootstrap is awesome.</p>
            <h5>Due date: 2020/03/14</h5>
          </div>
        </div>
        <!-- Invoice assets and total -->
        <div class="col-6 pr-5">
          <table class="table table-borderless text-right">
            <tbody>
              <tr>
                <th scope="row">Subtotal</th>
                <td>
                  {{purchase.price_all}}
                  <span class="currency">฿</span>
                </td>
              </tr>
              <tr>
                <th scope="row">Taxes (include 7%)*</th>
                <td>
                  {{(purchase.price_all*7)/100}}
                  <span class="currency">฿</span>
                </td>
              </tr>
              <tr>
                <th scope="row">Discounts</th>
                <td>
                  0
                  <span class="currency">฿</span>
                </td>
              </tr>
              <tr>
                <th scope="row">Shipping</th>
                <td>
                  <span class="currency">฿</span>0
                </td>
              </tr>
              <tr class="last-row">
                <th scope="row">
                  <h4>Total</h4>
                </th>
                <td>
                  <h4>
                    <span class="currency">฿</span>
                    {{purchase.price_all}}
                  </h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p class="text-center mt-3">
        <em>* Taxes will be calculated in ฿ using the default % value for your region</em>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "no",
  data() {
    return {
      purchase: ""
    };
  },
  methods: {
    percentage(partialValue, totalValue) {
      return (100 * partialValue) / totalValue;
    }
  },

  computed: {
    id() {
      return this.$route.params.id;
    }
  },
  async created() {
    const { data } = await axios.get("/api/bill/" + this.id);
    this.purchase = data;
  }
};
</script>

<style lang="scss" scoped>
/*
Colors
rgb(249, 99, 50); orange flame
rgb(255, 77, 77); re
rgb(198, 89, 99); red'ish
*/

@page {
  bleed: 1cm;
  size: A4 portrait;
  size: auto; /* auto is the initial value */
  margin-left: 0mm; /* this affects the margin in the printer settings */
  margin-bottom: 0mm;
  margin-top: 0mm;

  html {
    background-color: #ffffff;
    margin: 0px; /* this affects the margin on the html before sending to printer */
  }

  body {
    border: solid 1px blue;
    margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
  }
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

body {
  background: #eee;
  font-familly: roboto;
  -webkit-print-color-adjust: exact !important;
}

div.container {
  border-radius: 15px;
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

div.invoice-letter {
  width: auto;
  position: relative;
  min-height: 150px;
  background-color: #f87096;
  margin-right: -48px;
  margin-left: -48px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
}

div.letter-title {
  margin-top: 10px;
  height: 130px;
  border-right: 2px solid #eee;
}

div.letter-content {
  margin-top: 10px;
}

table.invoice thead th {
  background-color: rgba(4, 97, 123, 0.2);
  border-top: none;
}

table.invoice thead tr:first-child th:first-child {
  border-top-left-radius: 25px;
}

table.invoice thead tr:first-child th:last-child {
  border-top-right-radius: 25px;
}

tr.last-row {
  background-color: rgba(4, 97, 123, 0.2);
}

tr.last-row th {
  border-bottom-left-radius: 25px;
  width: 30px;
}

tr.last-row td {
  border-bottom-right-radius: 25px;
}

div.row div.to {
  height: 260px;
  padding-right: 25px;
  border-right: 2px solid rgba(4, 97, 123, 0.2);
}
</style>
