<template>
  <div>
    <banner style="margin-top: -16px;" />
    <!-- <package-app /> -->
    <!-- <category /> -->
    <step />
    <product titlex="สินค้าแนะนำประจำวันนี้" tox="products" />
    <hr />
    <product titlex="สินค้าประเภทรถเข็นเด็ก" tox="category/Stroller" :cat_id="1" />
    <hr />
    <product titlex="สินค้าประเภท Carseat" tox="category/Carseat" :cat_id="7" />
    <hr />
    <product titlex="สินค้าประเภทของเล่นเสริมพัฒนาการ
" tox="category/Toy" :cat_id="10" />
    <hr />
    <ArticleMini />
  </div>
</template>

<script>
import PackageApp from "~/components/package/Index";
import ArticleMini from "~/components/article/Index";

import Banner from "~/components/home/Banner";
import Category from "~/components/category/Index";
import Step from "~/components/step/Index";
import Product from "~/components/product/Index";
import TestJaa from "~/components/Test";

export default {
  data() {
    return {
      msg: "Hello"
    };
  },
  middleware: "auth",
  components: {
    ArticleMini,
    Banner,
    Category,
    Step,
    Product,
    TestJaa,
    PackageApp
  },
  metaInfo() {
    return { title: "หน้าแรก" };
  }
};
</script>
