<template>
  <div>
    <form id="checkoutForm" method="POST" @click.prevent="checkOut">
      <input type="hidden" name="omiseToken" />
      <input type="hidden" name="omiseSource" />
      <button type="submit" id="checkoutButton" class="btn btn-primary">ชำระเงิน</button>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  props: ["amount", "purchase_id", "form", "price_all", "type"],
  methods: {
    checkOut() {
      OmiseCard.configure({
        publicKey: "pkey_test_5ir5cqez7jxj8wy25ry"
      });
      OmiseCard.open({
        amount: this.amount,
        currency: "THB",
        frameLabel: "Chilrent",
        image: "https://i.imgur.com/vldii1e.png",
        defaultPaymentMethod: "credit_card",
        locale: "th",
        submitLabel: "ชำระเงิน",

        otherPaymentMethods: "credit_card,internet_banking",
        onCreateTokenSuccess: async nonce => {
          if (nonce.startsWith("tokn_")) {
            // form.omiseToken.value = nonce;
            const { data } = await axios.post("/api/payment", {
              token: nonce,
              amount: this.amount,
              purchase_id: this.purchase_id
            });

            if (data) {
              this.form.price_all = this.price_all;

              if (this.type == "pay") {
                const result = await axios.post("/api/purchase", this.form);
                if (result.data) {
                  // TODOS:: alert success
                  Swal.fire({
                    icon: "success",
                    title: "การชำระเงินสำเร็จ",
                    timer: 1500
                  }).then(result => {
                    this.$router.push({ name: "purchase" });
                  });
                }
              } else if (this.type == "swap") {
                const result = await axios.post("/api/swap", this.form);
                if (result.data) {
                  // TODOS:: alert success
                  Swal.fire({
                    icon: "success",
                    title: "ชำระเงินสำเร็จ",
                    timer: 1500
                  }).then(result => {
                    this.$router.push({ name: "purchase" });
                  });
                }
              }
            } else {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "มีบางอย่างผิดพลาดการชำระเงินไม่สำเร็จ"
              });
            }
          } else {
            // form.omiseSource.value = nonce;
          }
          // form.submit();
        }
      });
    }
  },
  created() {}
};
</script>

<style>
</style>
