<template>
  <div>
    <div class="container">
      <!-- <pre>
        {{ mm(categories) }}
      </pre>-->
       <!--  {{ category_active }} -->
      <h1>สินค้าทั้งหมด</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">ค้นหา</div>
            <div class="card-body">
              <input
                type="text"
                placeholder="ค้นหา"
                class="form-control"
                v-model="search"
                @input="callL()"
              />
              <div class="mt-3">
                <button @click="callL()" class="w-50 btn btn-success">search</button>
                <button @click="search = ''" class="w-25 btn btn-secondary">x</button>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">หมวดหมู่</div>
            <div class="card-body">
              <el-checkbox-group v-model="category_active">
                <el-checkbox
                  :label="item.id"
                  v-for="(item, index) in categories"
                  :key="index"
                  @change="callL()"
                >{{ item.name }} ({{ item.products_count }})</el-checkbox>
              </el-checkbox-group>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-header">เหมาะกับช่วงอายุ</div>
            <div class="card-body">
              <input type="radio" name id /> 3 เดือน ถึง 6 เดือน
              <br />
              <input type="radio" name id />
              6 เดือน ถึง 9 เดือน
              <br />

              <input type="radio" name id />
              3 เดือน ถึง 1 ปี
              <br />
              <input type="radio" name id />
              ทั้งหมด
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-header">สี</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 mt-2" v-for="(item, index) in colors" :key="index">
                  <div
                    :class="item.id == color_active ? 'bactive' : 'bb'"
                    @click="setColor()"
                    :style="`background-color:${item.code}`"
                    style="height:20px;width:100%;"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">ผลลัพธ์การค้นหา</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 mb-4" v-for="(product, index) in products" :key="index">
                  <!--  {{ product.color }} -->
                  <product-card :product="product" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from "~/components/product/Card";
import { mapActions, mapGetters } from "vuex";
import _ from "lodash";
export default {
  props: {
    cat: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      search: "",
      color_active: 999,
      category_active: []
    };
  },
  components: {
    ProductCard
  },
  computed: {
    ...mapGetters({
      products: "product/all",
      colors: "color/colors",
      categories: "category/categories"
    })
  },
  methods: {
    mm(categories) {
      return _.chain(categories)
        .groupBy("group")
        .map((group, id) => ({ group, id }))
        .value();
    },
    ...mapActions({
      fetch: "product/fetchAll",
      fetchColor: "color/fetch",
      fetchCat: "category/fetch"
    }),
    setColor(item) {
      this.color_active = item.id;
      alert(this.color_active);
      this.callL();
    },
    callL() {
      this.fetch({
        q: this.search,
        color: this.color_active,
        categories: this.category_active
      });
    }
  },

  created() {
    this.callL();
    this.fetchColor();
    this.fetchCat();
    console.log("category", this.category);
  }
};
</script>

<style scoped>
.bactive {
  border: 1px #333 solid;
}
.bb {
  border: 1px #ccc solid;
}
</style>
