<template>
  <div>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link :to="`/category/${product.category.slug}`">{{ product.category.name }}</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
      </nav>

      <div class="main-product row">
        <div
          class="col-md-6"
          style="border-right:1px solid #ccc; padding-right:10px; box-sizing:border-box;"
        >
          <carousel :perPage="1" :autoplay="1">
            <slide v-for="image in product.images" :key="image.id">
              <img :src="image.file_url" class="w-100" />
            </slide>
          </carousel>
        </div>
        <div class="col-md-6">
          <h1>{{ product.name }}</h1>
          <hr />

          <!-- <div class="price-list py-2">
            <button
              v-for="(amount,index) in product.amounts"
              :key="amount.id"
              class="btn m-1"
              :class="amountActive == index ? 'btn-success' : 'btn-outline-secondary'"
              @click="setAmount(index)"
            >{{ amount.name }}</button>
          </div>-->

          <!-- <b-button v-b-modal.addPackage variant="primary">เพิ่มสินค้าเข้าแพ็คเกจ</b-button>&nbsp;หรือ
          <router-link to="/home">
            <button class="btn btn-success">ซื้อแพ็คเกจ</button>
          </router-link>

          <b-modal id="addPackage" hide-footer hide-header scrollable size="xl">
            <p class="my-4">
              <MyPackagePage :product_id="product.id" :product_amount_id="1" />
            </p>
          </b-modal>-->

          <!-- <hr /> -->

          <!-- <button
            class="btn btn-outline-secondary"
            @click="showBuy = 1"
            v-if="!showBuy"
          >หรือซื้อสินค้า</button>-->

          <div class="showBuy">
            <!-- <div class="price-text">
              <div v-if="!priceActive">
                <span class="text-secondary">ค่าเช่าเริ่มต้น</span>
                <span class="h2 text-success">{{product.price}} ฿</span>
              </div>
              <div v-else>
                <span class="text-secondary">ค่าเช่า</span>
                <span class="h2 text-success">{{product.prices[priceActive].price}} ฿</span>
              </div>
            </div>-->

            <div class="price-list py-2">
              <!-- <button
                v-for="(price, index) in product.prices"
                :key="price.id"
                class="btn m-1"
                :class="
                  priceActive == index ? 'btn-success' : 'btn-outline-secondary'
                "
                @click="setPrice(index)"
              >
                {{ price.description }}
              </button>-->
              วันที่เริ่มเช่า (วันที่รับสินค้า)
              <!-- disabled-weekly="0,1,4,6" -->
              <VueCtkDateTimePicker
                v-model="pickup_date"
                only-date
                color="#f87096"
                button-color="#f87096"
                format="YYYY-MM-DD"
                no-button-now
                no-shortcuts
                :min-date="new Date().addDays(2)"
                :maxDate="new Date().addDays(16)"
                auto-close
              />
              <hr />ระยะเวลาการเช่า
              <br />
              <button
                v-for="(c, index) in product.category.prices"
                :key="index"
                @click="setReturn(c.day)"
                class="btn mr-2"
                :class="c.day == day_add ? 'btn-info':'btn-outline-info '"
              >
                {{ c.description }}
                <br />
                {{c.price}} บาท
              </button>
              <hr />วันที่สิ้นสุดระยะเวลาการเช่า
              <br />(ท่านสามารถยืนยันการส่งคืนสินค้าได้ก่อนวันที่สิ้นสุดระยะเวลาการเช่า)
              <VueCtkDateTimePicker
                v-model="return_date"
                only-date
                color="#f87096"
                button-color="#f87096"
                format="YYYY-MM-DD"
                no-button-now
                no-shortcuts
                auto-close
                :enabledDates="new Date(form.pickup_date).addDays(day_adding)"
                :min-date="new Date(form.pickup_date)"
              />
            </div>

            <!-- <div>เหลือ {{ product.amount.amount }} ชิ้น</div> -->
            <div class="mt-3">
              <hr />
            </div>

            <div class="card text-center">
              <div class="card-header">รวมค่าใช้จ่ายทั้งหมด</div>
              <div class="card-body">
                <p class="card-text">ค่ามัดจำ : {{product.deposit}} บาท</p>
                <p class="card-text">
                  ระยะเวลาในการเช่า {{product.category.prices.find(el=>el.day == day_add).day}}
                  วัน
                </p>
                <p
                  class="card-text"
                >ค่าเช่า {{product.category.prices.find(el=>el.day == day_add).price}} บาท</p>
                <p class="card-text">
                  <i class="fas fa-truck"></i> บริการจัดส่งฟรี
                </p>

                <form @submit.prevent="addTocart()" @keydown="form.onKeydown($event)">
                  <hr />

                  <h5>รวม {{+product.category.prices.find(el=>el.day == day_add).price + +product.deposit}} บาท</h5>
                  <hr />
                  <!-- <input type="number" v-model="form.amount" /> -->
                  <v-button :loading="form.busy">เพิ่มสินค้าลงตะกร้า</v-button>
                </form>
              </div>
            </div>

            <!-- <div class="li mt-4">
              <h6>ราคาในการเช่าสินค้า</h6>
              <table class="table">
                <thead>
                  <tr>
                    <th>ระยะเวลาการเช่า</th>
                    <th>ค่าเช่า</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(c, index) in product.category.prices" :key="index">
                    <td>{{ c.description }}</td>
                    <td>{{ c.price }} บาท</td>
                  </tr>
                </tbody>
              </table>
            </div>-->
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">รายละเอียดสินค้า</div>
        <div class="card-body">
          <span v-html="product.description"></span>
          <hr />
          ชื่อรุ่นสินค้า : {{ product.model }}
          <br />สี
          <span v-for="(item, index) in product.colors" :key="index">: {{ item.name }}</span>
          <br />
          มัดจำ : {{ product.deposit }} บาท
          <br />
          น้ำหนัก : {{ product.weight }} Kg.
          <br />
        </div>
      </div>

      <hr />
      <div class="card" v-if="product.marks.length">
        <div class="card-header">ตำหนิ</div>
        <div class="body">
          <div class="row">
            <div class="col-md-2" v-for="image in product.marks" :key="image.id">
              <img :src="image.image_url" class="w-100 p-3 m-3" style="border:1px solid #ccc;" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr />
        <product titlex="สินค้ารุ่นเดียวกัน" :product_id="product.id" tox="products" />
      </div>
      <hr />
      <div class="row">
        <product titlex="สินค้าที่ใกล้เคียงกัน" :cat_id="product.category_id" tox="products" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Form from "vform";
import MyPackagePage from "../myPackage/index";
import Product from "~/components/product/Index";
Date.prototype.addDays = function(days) {
  var date = new Date(this.valueOf());
  date.setDate(date.getDate() + days);
  return date;
};
import { Carousel, Slide } from "vue-carousel";
import Swal from "sweetalert2";
import moment from "moment";
export default {
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      priceActive: 0,
      amountActive: 0,
      day_add: 7,
      pickup_date: "",
      return_date: "",
      form: new Form({
        // product_amount_id: "",
        pickup_date: "",
        return_date: "",
        product_price_id: "",
        amount: 1
      }),
      showBuy: 0
    };
  },
  components: {
    MyPackagePage,
    Product
    // HotelDatePicker
  },
  computed: {
    ...mapGetters({
      product: "product/show"
    }),
    id() {
      return parseInt(this.$route.params.id);
    },
    pickupDate() {
      return this.pickup_date;
    },
    priceActive() {
      return this.product.category.prices.find(el => el.day == this.day_add);
    }
  },
  watch: {
    pickupDate() {
      this.setReturn(this.day_add);
    },
    id: function() {
      this.fetch(this.id);
    }
  },
  methods: {
    ...mapActions({
      fetch: "product/show"
    }),
    setReturn(day_adding) {
      this.day_add = day_adding;
      // 13 + 7 = 20
      this.return_date = new Date(this.pickup_date).addDays(day_adding);
    },
    setPrice(index) {
      this.priceActive = index;
    },
    setAmount(index) {
      this.amountActive = index;
    },
    async addTocart() {
      if (!this.return_date || !this.pickup_date) {
        alert("กรุณาเลือกวันที่");
      } else {
        this.form.return_date = moment(this.return_date).format("YYYY-MM-DD");
        this.form.pickup_date = moment(this.pickup_date).format("YYYY-MM-DD");

        Swal.fire({
          title: "เพิ่มสินค้า",
          text: "คุณต้องการเพิ่มสินค้าลงในตระกร้าใช่หรือไม่",
          icon: "success",
          cancelButtonText: "ยกเลิก",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "ตกลง"
        }).then(async result => {
          if (result.value) {
            Swal.fire("สำเร็จ!", "เพิ่มสินค้าลงตะกร้าสำเร็จ", "success");
            this.form.product_id = this.product.id;
            const { data } = await this.form.post("/api/carts");

            this.$router.push("/mycarts");
          }
        });
      }
    }
  },
  async created() {
    await this.fetch(this.id);

    if (this.product.status != 1) {
      this.$router.push("/home");
    }
    let day = this.product.category.prices[0].day;
    // day = 7
    this.pickup_date = new Date().addDays(3);
    // 13
    this.setReturn(day);

    console.log("ok", this.product);
  }
};
</script>

<style></style>
