<template>
  <div>
    <carousel :perPage="1" :autoplay="1">
      <slide>
        <img src="/images/IMG_2211.PNG" class="img-fluid" />
      </slide>
      <slide>
        <img src="/images/IMG_2219.PNG" class="img-fluid" />
      </slide>
      <slide>
        <img src="/images/IMG_2222.JPG" class="img-fluid" />
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide
  }
};
</script>

<style scoped>
.bg {
  background: url("https://picsum.photos/2000/400?blur") no-repeat;
  width: 100%;
  height: 400px;
}
</style>
