<template>
  <div class="card">
    <div class="card-body">
      <h1>สีทั้งหมด({{items.length}})</h1>

      <router-link to="/admin/colors/create">
        <button class="btn btn-primary">Add</button>
      </router-link>
      <hr />
      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(img_url)="data">
          <img :src="data.value" width="40" />
        </template>

        <template v-slot:cell(action)="row">
          <router-link :to="`/admin/colors/${row.item.id}/edit`">
            <button class="btn btn-warning">Edit</button>
          </router-link>
          <!-- <button class="btn btn-danger" @click="del(row.item.id)">delete</button> -->
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
      perPage: 5,
      currentPage: 1,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: ["id", "name", "code", "Action"]
    };
  },
  computed: {
    ...mapGetters({
      items: "color/colors"
    })
  },
  methods: {
    ...mapActions({
      fetch: "color/fetch"
    }),
    async del(id) {
      await axios.delete(`/api/colors/${id}`);
      this.fetch();
    }
  },
  created() {
    this.fetch();
  }
};
</script>

<style>
</style>
