<template>
  <div class="container">
    <head-bar title="บทความ" to="article" />

    <div class="row">
      <div class="col-md-4" v-for="item in news" :key="item.id">
        <div class="card p-4 mt-2">
          <router-link :to="'/article/' + item.id">
            <img :src="item.img" alt style="width:100%; height:200px;" />
            <h5 class="text-dark">{{ item.title }}</h5>
            <span class="text-secondary">{{ item.content }}</span>
          </router-link>
        </div>
      </div>
    </div>
    <!-- {{news}} -->
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  methods: {
    ...mapActions({
      fetch: "new/fetchmini"
    })
  },
  computed: {
    ...mapGetters({
      news: "new/mininews"
    })
  },
  created() {
    this.fetch();
  }
};
</script>

<style>
</style>
