<template>
  <card title="เพิ่มที่อยู้ในการจัดส่ง" class="mb-3">
    <form @submit.prevent="addAddress()" @keydown="form.onKeydown($event)" class="p-5">
      <textarea
        v-model="form.information"
        cols="30"
        rows="10"
        class="form-control"
        placeholder="ที่อยู่"
      ></textarea>
      <hr />
      <!-- ตำบล/แขวง -->
      <addressinput-subdistrict v-model="form.subdistrict" />
      <!-- อำเภอ/เขต -->
      <addressinput-district v-model="form.district" />
      <!-- จังหวัด -->
      <addressinput-province v-model="form.province" />
      <!-- รหัสไปรษณีย์ -->
      <addressinput-zipcode v-model="form.zipcode" />
      <label for>เบอร์โทรศัพท์</label>
      <input type="tel" class="form-control" v-model="form.mobile_number" />
      <br />
      <input type="checkbox" v-model="form.def" /> ตั้งเป็นที่อยู่ปัจจุบัน
      <hr />
      <v-button :loading="form.busy">เพิ่มที่อยู่</v-button>
    </form>
  </card>
</template>

<script>
import Form from "vform";
import { mapGetters } from "vuex";
export default {
  data() {
    // เก็บข้อมูลที่อยู่ที่ได้จาก input ไว้ใน data
    return {
      form: new Form({
        information: "",
        subdistrict: "",
        district: "",
        province: "",
        zipcode: "",
        mobile_number: "",
        def: false
      })
    };
  },
  computed: {
    ...mapGetters({
      user: "auth/user"
    }),
    id() {
      return this.$route.params.id;
    }
  },
  created() {
    if (this.id) {
      let address = this.user.addresses.find(el => el.id == this.id);
      this.form.keys().forEach(key => {
        this.form[key] = address[key];
      });
    }
  },
  methods: {
    async addAddress() {
      if (this.form.province == "กรุงเทพมหานคร") {
        if (!this.id) {
          const { data } = await this.form.post("/api/addresses");
          this.$router.push({ name: "settings.address" });
        } else {
          const { data } = await this.form.put("/api/addresses/" + this.id);
          this.$router.push({ name: "settings.address" });
        }
      } else {
        alert("ขออภัยที่อยู่ของท่านอยู่นอกพื้นที่ที่ให้บริการ");
        this.form.province = "";
        this.form.subdistrict = "";
        this.form.district = "";
        this.form.zipcode = "";
      }
    }
  }
};
</script>
<style scoped>
label {
  width: 100%;
}
</style>
