<template>
  <article>
    <div class="card-body">
      <h1>{{ item.description }}</h1>
      <h5>ราคา {{ item.price }} ฿</h5>
      <h5>Swap ได้ {{ item.limit }} ครั้ง</h5>
      หมดอายุ {{ item.expiry_date_format }}
      <hr />
      <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
            <i class="fa fa-credit-card"></i> Credit Card
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
            <i class="fab fa-paypal"></i> Paypal
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
            <i class="fa fa-university"></i> Bank Transfer
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-tab-card">
          <!-- <p class="alert alert-success">Some text success or error</p> -->
          <form role="form">
            <div class="form-group">
              <label for="username">Full name (on the card)</label>
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder
                required
              />
            </div>
            <!-- form-group.// -->

            <div class="form-group">
              <label for="cardNumber">Card number</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="cardNumber"
                  placeholder
                />
                <div class="input-group-append">
                  <span class="input-group-text text-muted">
                    <i class="fab fa-cc-visa mr-2"></i>
                    <i class="fab fa-cc-amex mr-2"></i>
                    <i class="fab fa-cc-mastercard mr-2"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- form-group.// -->

            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label>
                    <span class="hidden-xs">Expiration</span>
                  </label>
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="MM"
                      name
                    />
                    <input
                      type="number"
                      class="form-control"
                      placeholder="YY"
                      name
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label
                    data-toggle="tooltip"
                    title
                    data-original-title="3 digits code on back side of the card"
                  >
                    CVV
                    <i class="fa fa-question-circle"></i>
                  </label>
                  <input type="number" class="form-control" required />
                </div>
                <!-- form-group.// -->
              </div>
            </div>
            <!-- row.// -->
            <button
              class="subscribe btn btn-primary btn-block"
              type="button"
              @click="confirmPayment()"
            >
              Confirm
            </button>
          </form>
        </div>
        <!-- tab-pane.// -->
        <div class="tab-pane fade" id="nav-tab-paypal">
          <p>Paypal is easiest way to pay online</p>
          <p>
            <button type="button" class="btn btn-primary">
              <i class="fab fa-paypal"></i> Log in my Paypal
            </button>
          </p>
          <p>
            <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
        <div class="tab-pane fade" id="nav-tab-bank">
          <p>Bank accaunt details</p>
          <dl class="param">
            <dt>BANK:</dt>
            <dd>THE WORLD BANK</dd>
          </dl>
          <dl class="param">
            <dt>Accaunt number:</dt>
            <dd>12345678912345</dd>
          </dl>
          <dl class="param">
            <dt>IBAN:</dt>
            <dd>123456789</dd>
          </dl>
          <p>
            <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
        <!-- tab-pane.// -->
      </div>
      <!-- tab-content .// -->
    </div>
    <!-- card-body.// -->
  </article>
</template>

<script>
import Form from "vform";
import axios from "axios";
export default {
  props: {
    type: {
      type: String,
      default: "package"
    },
    set_id: {
      type: Number
    },
    item: {
      type: Object
    }
  },
  methods: {
    confirmPayment() {
      // if (type == "package") {
      this.packageAdd();
      // }
    },
    async packageAdd() {
      await axios.post("api/packages/list/add", {
        package_id: this.set_id
      });

      this.$router.push("/mypackage");
    }
  }
};
</script>

<style></style>
