<template>
  <div class="container">
    <h3 class="text-black">บทความ</h3>
    <hr />
    <div class="row">
      <div class="col-md-4" v-for="item in news" :key="item.id">
        <div class="card p-4 mt-2">
          <router-link :to="'/article/' + item.id">
            <img :src="item.img" alt style="width:100%; height:200px;" />
            <h5 class="text-dark">{{ item.title }}</h5>
            <span class="text-secondary">{{ item.content }}</span>
          </router-link>
        </div>
      </div>

      <!-- {{item}} -->
      <!-- <div v-html="item.content"></div> -->
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  methods: {
    ...mapActions({
      fetch: "new/fetch"
    })
  },
  computed: {
    ...mapGetters({
      news: "new/news"
    })
  },
  created() {
    this.fetch();
  }
};
</script>

<style>
a,
router-link {
  text-decoration: none;
}
img {
  object-fit: cover;
}
</style>
