<template>
  <div class="container">
    <!-- {{show}} -->
    <div class="row">
      <div class="col-md-8">
        <div class="card p-4">
          <img :src="show.img" alt style="width:100%; height:300px;" />
          <hr />
          <h3>{{ show.title }}</h3>
          <button class="btn btn-danger" @click="del(show.id)" v-if="user.role_id == 2">ลบ</button>
          <hr />

          <p v-html="show.content" class="content"></p>
        </div>
      </div>
      <div class="col-md-4">
        <h4>บทความอื่นๆ</h4>
        <div v-for="item in show.recents" :key="item.id" class="card p-4">
          <router-link :to="'/article/' + item.id">
            <img :src="item.img" alt style="width:100%; height:150px;" />
            <h5 class="text-dark">{{ item.title }}</h5>
            <span class="text-secondary">{{ item.content }}</span>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
export default {
  methods: {
    ...mapActions({
      fetch: "new/show"
    }),
    del(id) {
      axios.post("/api/news/delete/" + id);
      this.$router.push("/news");
    }
  },

  computed: {
    q() {
      return this.$route.params.id;
    },
    ...mapGetters({
      show: "new/show"
    })
  },

  async created() {
    this.fetch(this.q);
  },
  watch: {
    q() {
      this.fetch(this.q);
    }
  }
};
</script>

<style>
a,
router-link {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.content img {
  width: 100%;
}
</style>
