<template>
  <div class="container">
    <h4>รายการเช่าของฉัน ({{ items.length }})</h4>
    <hr />
    <table class="table" style="font-size:12px;">
      <thead>
        <tr>
          <th>#</th>
          <th>ส่งที่ / เวลาเช่า</th>
          <th>ส่งคืนที่ / เวลาคืน</th>
          <th>รายการสินค้าปัจจุบัน</th>
          <th>รายการสินค้าที่เคยเช่า</th>
          <th>คืนสินค้าภายใน</th>
          <th>สถานะ</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="index">
          <td scope="row">{{ item.uid }}</td>
          <td>
            {{ item.pickup.information }} {{ item.pickup.subdistrict }}
            {{ item.pickup.district }} {{ item.pickup.province }}
            {{ item.pickup.zipcode }} โทร {{ item.pickup.mobile_number }}
            <hr />
            {{item.details[0].pickup_date}}
          </td>
          <td>
            {{ item.return.information }} {{ item.return.subdistrict }}
            {{ item.return.district }} {{ item.return.province }}
            {{ item.return.zipcode }} โทร {{ item.return.mobile_number }}
            <hr />
            {{item.details[0].return_date}}
          </td>
          <td>
            <img :src="item.details[0].product.img_url" width="100" />
            <br />
            {{ item.details[0].product.name }}
          </td>
          <td>
            <span v-for="(x, index2) in item.details" :key="index2">
              <span v-if="index2 > 0">- {{ x.product.name }}</span>
              <br />
            </span>
          </td>
          <td>{{item.details[0].status == 3 ? item.details[0].date_diff +' วัน' : '-'}}</td>
          <td style="width:10%;">
            <span v-if="item.details[0].status == 1">ชำระเงินแล้ว</span>
            <span v-if="item.details[0].status == 2">สินค้ากำลังจัดส่ง</span>
            <span v-if="item.details[0].status == 3">ได้รับสินค้าแล้ว</span>
            <span v-if="item.details[0].status == 4">รอ Swap สินค้า</span>
            <span v-if="item.details[0].status == 5">กำลังทำรายการสิ้นสุดการเช่า</span>
            <span v-if="item.details[0].status == 6">สิ้นสุดการเช่า</span>
          </td>
          <td style="width:10%;">
            <button
              @click="
                setToPay(
                  item.id,
                  item.details[0].product.id,
                  item.details[0].product.category_id
                )
              "
              :disabled="!(item.details[0].status == 3 && item.details[0].date_diff >9)"
              class="btn btn-primary"
            >Swap</button>

            <hr />
            <button
              @click="
                unRent(
                  item.id
                )
              "
              :disabled="!(item.details[0].status == 3)"
              class="btn btn-outline-danger"
            >สิ้นสุดการเช่า</button>
            <hr />
            <a :href="`/bills/${item.details[0].id}`" target="_blank">
              <button class="btn btn-success">
                <i class="fa fa-info" />
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <b-modal
      id="swap-modal"
      ref="swap-modal"
      title="เลือกสินค้า 1 ชิ้นเพื่อทำการ swap"
      size="xl"
      scrollable
      hide-footer
    >
      <product :swaping="true" :cat_id="category_id" :purchase_id="id" :older="older" />
    </b-modal>

    <b-modal
      id="unrent-modal"
      ref="unrent-modal"
      title="ทำการยกเลิกการเช่า"
      size="xl"
      scrollable
      hide-footer
    >
      <a href="/settings/address" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-primary">เพิ่มที่อยู่</button>
      </a>

      <button class="btn btn-outline-dark" @click="fethUser()">refresh</button>

      <hr />

      <div class="card mt-4" v-if="!$route.params.purchase_id">
        <div class="card-header">กรุณาเลือกที่อยู่ในการคืนสินค้า</div>
        <div class="card-body">
          <b-form-group>
            <b-form-radio
              v-model="add_id"
              name="address_return_id"
              :value="item.id"
              v-for="(item, index) in user.addresses"
              :key="index"
            >
              {{ item.information }} {{ item.subdistrict }} {{ item.district }}
              {{ item.province }} {{ item.zipcode }} โทร
              {{ item.mobile_number }}
            </b-form-radio>
          </b-form-group>
        </div>
      </div>

      <div class="clearfix">
        <button class="btn btn-outline-danger float-right" @click="confirmUnrent()">สิ้นสุดการเช่า</button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Product from "~/components/product/Index";
import Swal from "sweetalert2";
import axios from "axios";
export default {
  computed: {
    ...mapGetters({
      items: "purchase/items"
    }),
    lastItem() {
      return this.items.length - 1;
    }
  },
  data() {
    return {
      id: 1,
      older: 1,
      category_id: 1,
      add_id: 1,
      un_id: 1
    };
  },
  components: {
    Product
  },
  methods: {
    ...mapActions({
      fetch: "purchase/fetch",
      fethUser: "auth/fetchUser"
    }),
    setToPay(id, older, cat_id) {
      this.$refs["swap-modal"].show();
      this.id = id;
      this.older = older;
      this.category_id = cat_id;
    },
    unRent(id) {
      this.$refs["unrent-modal"].show();
      this.un_id = id;
    },
    confirmUnrent() {
      Swal.fire({
        title: "สิ้นสุดการเช่า",
        text: "คุณต้องการทำรายการนี้ต่อใช่หรือไม่",
        icon: "success",
        cancelButtonText: "ยกเลิก",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ตกลง"
      }).then(async result => {
        if (result.value) {
          Swal.fire("สำเร็จ!", "ทำการสิ้นสุดการเช่าสำเร็จ", "success");
          const { data } = await axios.post("/api/orders/unrent", {
            id: this.un_id,
            address_id: this.add_id
          });
          this.$refs["unrent-modal"].hide();
          this.fetch();

          // this.$router.go(0);
        }
      });
    }
  },
  created() {
    this.fetch();

    this.form.address_id = this.user.default_address_id;
  }
};
</script>

<style></style>
