<template>
  <div class="container">
    <div class="card">
      <div class="card-header bg-dark text-light">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        ตะกร้าสินค้าของฉัน
        <div class="clearfix"></div>
      </div>
      <div class="card-body" v-if="carts.list.length">
        <div class="row mb-2" v-for="(item, index) in carts.list" :key="index">
          <div class="col-xs-2 col-md-2">
            <img
              class="img-responsive"
              :src="getProduct(item).img_url"
              alt="prewiew"
              width="120"
              height="80"
            />
          </div>
          <div class="col-xs-4 col-md-6">
            <h4 class="product-name">
              <strong>{{ getProduct(item).name }}</strong>
            </h4>
            <small class="text-secondary">
              เริ่มเช่า {{ item.pickup_date }} ถึง {{ item.return_date }} ({{
              item.price_txt
              }})
            </small>
          </div>
          <div class="col-xs-6 col-md-4 row">
            <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
              <h6>
                <strong>{{ item.price }}</strong>
              </h6>
            </div>

            <div class="col-xs-2 col-md-2">
              <button
                type="button"
                class="btn btn-outline-danger btn-xs"
                @click="delAmount(item.id)"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div v-else class="p-4 card-body">ยังไม่มีสินค้าในตระกร้าของคุณ</div>
      <div class="card-footer clearfix">
        <a
          href="/mycarts/checkout"
          class="btn btn-success float-right"
          :disabled="!carts.list.length"
        >Checkout</a>
        <router-link to="/products" class="float-right mr-2">
          <button class="btn btn-primary">เลือกสินค้าต่อ</button>
        </router-link>
        <!-- btn-checkout -->
        <div class="float-right" style="margin: 5px">
          ราคาทั้งหมด:
          <b>{{ carts.price_all }} ฿ (มัดจำ {{ carts.price_deposit }} บาท)</b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import paymentOmise from "../paymentOmise";
import axios from "axios";
const queryString = require("query-string");

export default {
  components: {
    paymentOmise
  },
  computed: {
    ...mapGetters({
      carts: "cart/carts"
    })
  },
  methods: {
    ...mapActions({
      fetch: "cart/fetch"
    }),
    getProduct(item) {
      return item.product;
    },
    async updateAmount(id, amount) {
      const { data } = await axios.put(`/api/carts/${id}`, { amount });
      this.fetch();
    },
    async delAmount(id) {
      const { data } = await axios.delete(`/api/carts/${id}`);
      this.fetch();
    }
  },
  async created() {
    this.fetch();

    let form = {
      username: "armkrit",
      password: "Arm0861702911",
      from: "Chilrent",
      to: "0964096784",
      message: "ขอบคุณที่ใช้บริการ chilrent สินค้าจะถูกส่งในสองวันทำการ"
    };

    let q = queryString.stringify(form);

    let { data } = await axios.get(
      `http://www.thsms.com/api/rest?method=send&${q}`
    );
  }
};
</script>

<style></style>
