<template>
  <div class="container" style="margin-bottom:230px;">
    <div class="payment-title">
      <h1>ชำระเงิน</h1>
      <h6 v-if="!$route.params.purchase_id">
        ยอดชำระทั้งหมด {{ carts.price_all }} บาท (มัดจำ
        {{ carts.price_deposit }} บาท)
      </h6>
      <h4 v-else>SWAP สินค้า ทางเราจะจัดส่งสินค้าภายใน 3 วัน นับจากวันที่ชำระเงิน</h4>
      <hr />
    </div>

    <a href="/settings/address" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-primary">เพิ่มที่อยู่</button>
    </a>

    <button class="btn btn-outline-dark" @click="fethUser()">refresh</button>

    <hr />
    <div v-if="user.addresses.length">
      <div class="card">
        <div class="card-header">ที่อยู่ในการจัดส่ง</div>
        <div class="card-body">
          <b-form-group>
            <b-form-radio
              v-model="form.address_id"
              name="addresses"
              :value="item.id"
              v-for="(item, index) in user.addresses"
              :key="index"
            >
              {{ item.information }} {{ item.subdistrict }} {{ item.district }}
              {{ item.province }} {{ item.zipcode }} โทร
              {{ item.mobile_number }}
            </b-form-radio>
          </b-form-group>
        </div>
      </div>

      <div class="card mt-4" v-if="!$route.params.purchase_id">
        <div class="card-header">กรุณาเลือกที่อยู่ในการคืนสินค้า</div>
        <div class="card-body">
          <b-form-group>
            <b-form-radio
              v-model="form.address_return_id"
              name="address_return_id"
              :value="item.id"
              v-for="(item, index) in user.addresses"
              :key="index"
            >
              {{ item.information }} {{ item.subdistrict }} {{ item.district }}
              {{ item.province }} {{ item.zipcode }} โทร
              {{ item.mobile_number }}
            </b-form-radio>
          </b-form-group>
        </div>
      </div>

      <div class="card mt-4 mb-4" v-if="!$route.params.purchase_id">
        <div class="card-header bg-dark text-light">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          สินค้าที่จะทำการชำระเงิน
          <div class="clearfix"></div>
        </div>
        <div class="card-body" v-if="carts.list.length">
          <div class="row mb-2" v-for="(item, index) in carts.list" :key="index">
            <div class="col-xs-2 col-md-2">
              <img
                class="img-responsive"
                :src="getProduct(item).img_url"
                alt="prewiew"
                width="120"
                height="80"
              />
            </div>
            <div class="col-xs-4 col-md-6">
              <h4 class="product-name">
                <strong>{{ getProduct(item).name }}</strong>
              </h4>
              <small class="text-secondary">
                เริ่มเช่า {{ item.pickup_date }} ถึง {{ item.return_date }} ({{
                item.price_txt
                }})
              </small>
            </div>
            <div class="col-xs-6 col-md-4 row">
              <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
                <h6>
                  <strong>{{ item.price }}</strong>
                </h6>
              </div>

              <div class="col-xs-2 col-md-2"></div>
            </div>
          </div>
          <hr />
        </div>
        <div v-else class="p-4 card-body">ยังไม่มีสินค้าในตระกร้าของคุณ</div>
        <div class="card-footer">
          <div class="pull-right" style="margin: 5px">
            ราคาทั้งหมด:
            <b>{{ carts.price_all }} ฿ (มัดจำ {{ carts.price_deposit }} บาท)</b>
          </div>
        </div>
      </div>

      <div v-else>
        <div class="card mt-4 mb-4">
          <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            สินค้าที่ต้องคืน
            <div class="clearfix"></div>
          </div>
          <div class="card-body">
            <productLoad :product_id="$route.query.older" />
            <!-- ?older=<id></id> -->

            <hr />
          </div>
        </div>

        <div class="card mt-4 mb-4">
          <div class="card-header bg-primary text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            สินค้าที่ swap
            <div class="clearfix"></div>
          </div>
          <div class="card-body">
            <productLoad :product_id="$route.params.product_id" />

            <hr />
          </div>
          <div class="card-footer">
            <div class="pull-right" style="margin: 5px">
              ราคาทั้งหมด:
              <b>500 ฿</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button @click="purchase()" class="btn btn-primary">Confirms</button> -->
    <!-- [props] -->
    <div class="clearfix">
      <paymentOmise
        class="float-right ml-2"
        :amount="carts.price_all + '00'"
        :form="form"
        :price_all="carts.price_all"
        v-if="!$route.params.purchase_id"
        type="pay"
      />
      <!-- [props] -->
      <paymentOmise
        class="float-right ml-2"
        :amount="'50000'"
        :form="form"
        :price_all="500"
        type="swap"
        v-else
      />

      <router-link to="/mycarts">
        <button class="btn btn-secondary float-right">กลับไปหน้าตระกร้าสินค้า</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import paymentOmise from "../paymentOmise";
import productLoad from "./productLoad";

import Form from "vform";
export default {
  components: {
    paymentOmise,
    productLoad
  },
  data() {
    return {
      number: "",
      name: "",
      form: new Form({
        address_id: 1,
        address_return_id: 1,
        purchase_id: +this.$route.params.purchase_id,
        product_id: +this.$route.params.product_id
      })
    };
  },
  computed: {
    ...mapGetters({
      carts: "cart/carts"
    })
  },
  methods: {
    getProduct(item) {
      return item.product;
    },
    ...mapActions({
      fetch: "cart/fetch",
      fethUser: "auth/fetchUser"
    }),
    async purchase() {
      this.form.price_all = this.carts.price_all;
      const { data } = await this.form.post("/api/purchase");
      if (data) {
        this.$router.push({ name: "purchase" });
      }
    }
  },
  created() {
    if (!this.user.addresses.length) {
      alert("กรุณาสร้างที่อยู่ในการจัดส่งก่อน");
      this.$router.push("/settings/address/create");
    }

    this.fetch();
    this.form.address_id = this.user.default_address_id;
  }
};
</script>

<style scoped>
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Raleway";
}

.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name" "number number" "expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}

label {
  padding-bottom: 5px;
  font-size: 13px;
}

input {
  margin-top: 3px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.creditcard .lightblue {
  fill: #03a9f4;
}

.creditcard .lightbluedark {
  fill: #0288d1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #ffffff;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #ffffff;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4c4c4c;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0f0f0f;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #f2f2f2;
}

#cardback .st4 {
  fill: #d8d2db;
}

#cardback .st5 {
  fill: #c4c4c4;
}

#cardback .st6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #ffffff;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #eaeaea;
}

#cardback .st12 {
  font-family: "Rock Salt", cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
</style>
