<template>
  <div class="row mb-2">
    <div class="col-xs-2 col-md-2">
      <img class="img-responsive" :src="product.img_url" alt="prewiew" width="120" height="80" />
    </div>
    <div class="col-xs-4 col-md-6">
      <h4 class="product-name">
        <strong>{{ product.name }}</strong>
      </h4>
      <!-- <small class="text-secondary">
        เริ่มเช่า {{ item.pickup_date }} ถึง {{ item.return_date }} ({{
        item.price_txt
        }})
      </small>-->
    </div>
    <div class="col-xs-6 col-md-4 row">
      <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
        <h6>
          <strong>{{ product.price }}</strong>
        </h6>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["product_id"],
  data() {
    return {
      product: ""
    };
  },
  async created() {
    console.log(111);
    const { data } = await axios.get("/api/products/" + this.product_id);
    this.product = data;
  }
};
</script>

<style>
</style>
