<template>
  <div class="p-4 card">
    <h3>สร้างบทความ</h3>
    <hr />
    <!-- {{news}} -->

    <form @submit.prevent="add" @keydown="form.onKeydown($event)">
      <!-- <alert-success :form="form" :message="สร้างรายการเสร็จสิ้น"/> -->
      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">ชื่อบทความ</label>
        <div class="col-md-7">
          <input
            placeholder="ชื่อบทความ"
            v-model="form.title"
            :class="{ 'is-invalid': form.errors.has('name') }"
            class="form-control"
            type="text"
            name="name"
          />
          <has-error :form="form" field="name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">รูปภาพบทความ</label>
        <div class="col-md-7">
          <input @change="setImg" class="form-control" type="file" name="image" required />
          <has-error :form="form" field="image" />
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">ประเภท</label>
        <div class="col-md-7">
          <select v-model="form.news_tag_id" class="form-control">
            <option :value="tag.id" v-for="(tag, index) in news.tags" :key="index">{{tag.title}}</option>
          </select>
        </div>
      </div>-->

      <vue-editor
        id="editor"
        useCustomImageHandler
        @imageAdded="handleImageAdded"
        v-model="form.content"
      ></vue-editor>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-12">
          <v-button
            :loading="form.busy"
            type="success"
            class="btn btn-lg btn-block mt-3"
          >{{!id?'สร้าง':'แก้ไข'}}</v-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Form from "vform";
import { mapGetters, mapActions } from "vuex";
import axios from "axios";

export default {
  computed: {
    id() {
      return this.$route.params.id;
    },
    ...mapGetters({
      news: "new/news"
    })
  },
  data: () => ({
    form: new Form({
      title: "",
      content: "",
      img: ""
    }),
    active: 0,
    image: ""
  }),
  methods: {
    ...mapActions({
      fetch: "new/fetch"
    }),
    setImg(e) {
      this.image = e.target.files[0];
    },
    async add() {
      if (!this.id) {
        this.form.img = await this.uploadFile({
          file: this.image,
          path: "news"
        });
        const { data } = await this.form.post("/api/addnew");

        this.$router.push("/article/" + data.id);
      } else {
        this.form.img = await this.uploadFile({
          file: this.image,
          path: "news"
        });
        const { data } = await this.form.put("/api/news/" + this.id);

        this.$router.push("/article/" + data.id);
      }
    },
    handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
      // An example of using FormData
      // NOTE: Your key could be different such as:
      // formData.append('file', file)

      var formData = new FormData();
      formData.append("image", file);
      formData.append("path", "news");

      axios({
        url: "/api/uploadImage",
        method: "POST",
        data: formData
      })
        .then(result => {
          let url = result.data; // Get url from response
          Editor.insertEmbed(cursorLocation, "image", url);
          resetUploader();
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  async created() {
    if (this.id) {
      await this.fetch();
      console.log(this.news);
      let news = this.news.find(el => el.id == this.id);

      this.form.keys().forEach(key => {
        this.form[key] = news[key];
      });
    }
  }
};
</script>

<style></style>
