<template>
  <div class="container">
    <!-- {{windowWidth}} -->
    <div class="row">
      <!-- <div class="col-md-3">
        <card title="menu" class="settings-card mt-3">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <router-link
                :to="{ name: 'admin.stats' }"
                class="nav-link"
                active-class="active"
                >stats</router-link
              >
            </li>
          </ul>
        </card>

        <card title="Product" class="settings-card mt-3">
          <ul class="nav flex-column nav-pills">
            <li v-for="tab in tabs" :key="tab.route" class="nav-item">
              <router-link
                :to="{ name: tab.route }"
                class="nav-link"
                active-class="active"
              >
                <fa :icon="tab.icon" fixed-width />
                {{ tab.name }}
              </router-link>
            </li>
          </ul>
        </card>

        <card title="Order Status" class="settings-card mt-3">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <router-link
                :to="{ name: 'admin.orderstatus' }"
                class="nav-link"
                active-class="active"
                >อัปเดทสถานะรายการสินค้า</router-link
              >
            </li>
          </ul>
        </card>
      </div>-->

      <div class="col-md-12 mt-5">
        <tran tion name="fade" mode="out-in">
          <router-view />
        </tran>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "admin",
  layout: "admin",
  computed: {
    tabs() {
      return [
        {
          icon: "",
          name: "จัดการสินค้า",
          route: "admin.products"
        },
        {
          icon: "",
          name: "จัดการหมวดหมู่",
          route: "admin.categories"
        },
        {
          icon: "",
          name: "จัดการสีสินค้า",
          route: "admin.colors"
        },
        {
          icon: "",
          name: "จัดการแบรนด์",
          route: "admin.brands"
        },
        {
          icon: "",
          name: "จัดการบทความ",
          route: "admin.adnews"
        },
        {
          icon: "",
          name: "จัดการ model",
          route: "admin.models"
        }
      ];
    }
  }
};
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
