<template>
  <div class="card">
    <div class="p-4">
      <ve-line :data="chartData" theme-name="test"></ve-line>
    </div>
  </div>
</template>

<script>
import echarts from "echarts/lib/echarts";
import axios from "axios";

echarts.registerTheme("test", {
  line: {
    smooth: false
  }
});

export default {
  data() {
    this.theme = {
      line: {
        smooth: false
      }
    };
    this.initOptions = {
      renderer: "svg"
    };
    return {
      chartData: ""
    };
  },
  async created() {
    const { data } = await axios.get("/api/stats");
    this.chartData = data;
  }
};
</script>
