<template>
  <div>
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#">
              <i class="fas fa-bars"></i>
            </a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <router-link to="/home">
              <span class="nav-link">Home</span>
            </router-link>
            <!-- <a href="index.html" class="nav-link">Home</a> -->
          </li>
          <!-- <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
          </li>-->
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
          <div class="input-group input-group-sm">
            <input
              class="form-control form-control-navbar"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Messages Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-comments"></i>
              <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img
                    src="/dist/img/user1-128x128.jpg"
                    alt="User Avatar"
                    class="img-size-50 mr-3 img-circle"
                  />
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      Brad Diesel
                      <span class="float-right text-sm text-danger">
                        <i class="fas fa-star"></i>
                      </span>
                    </h3>
                    <p class="text-sm">Call me whenever you can...</p>
                    <p class="text-sm text-muted">
                      <i class="far fa-clock mr-1"></i> 4 Hours Ago
                    </p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img
                    src="/dist/img/user8-128x128.jpg"
                    alt="User Avatar"
                    class="img-size-50 img-circle mr-3"
                  />
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      John Pierce
                      <span class="float-right text-sm text-muted">
                        <i class="fas fa-star"></i>
                      </span>
                    </h3>
                    <p class="text-sm">I got your message bro</p>
                    <p class="text-sm text-muted">
                      <i class="far fa-clock mr-1"></i> 4 Hours Ago
                    </p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img
                    src="/dist/img/user3-128x128.jpg"
                    alt="User Avatar"
                    class="img-size-50 img-circle mr-3"
                  />
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      Nora Silvester
                      <span class="float-right text-sm text-warning">
                        <i class="fas fa-star"></i>
                      </span>
                    </h3>
                    <p class="text-sm">The subject goes here</p>
                    <p class="text-sm text-muted">
                      <i class="far fa-clock mr-1"></i> 4 Hours Ago
                    </p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
          </li>
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header">15 Notifications</span>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
              <i class="fas fa-th-large"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->

        <router-link to="/admin" class="brand-link" style="border-bottom: 0;">
          <img
            src="/dist/img/logoAdmin.png"
            alt="AdminLTE Logo"
            class="brand-image mt-2"
            style="opacity: 1"
            width="50%"
          />
        </router-link>

        <!-- Sidebar -->
        <div class="sidebar">
          <!--  bar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img
                src="/dist/img/user2-160x160.jpg"
                class="img-circle elevation-2"
                alt="User Image"
              />
            </div>
            <div class="info">
              <h4 style="color: white;">{{ user.name }}</h4>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-header">จัดการออเดอร์</li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'admin.orderstatus', params:{status:1}}"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-signal"></i>
                  <p>สินค้าที่ต้องจัดเตรียม</p>
                </router-link>

                <router-link
                  :to="{ name: 'admin.orderstatus', params:{status:2}}"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-signal"></i>
                  <p>ยืนยันการส่งสินค้า</p>
                </router-link>

                <router-link
                  :to="{ name: 'admin.orderstatus', params:{status:3}}"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-signal"></i>
                  <p>ลูกค้าได้รับสินค้าแล้ว</p>
                </router-link>

                <router-link
                  :to="{ name: 'admin.orderstatus', params:{status:4}}"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-signal"></i>
                  <p>รายการ Swap สินค้า</p>
                </router-link>

                <router-link
                  :to="{ name: 'admin.orderstatus', params:{status:5}}"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-signal"></i>
                  <p>รายการที่สิ้นสุดการเช่า</p>
                </router-link>

                <router-link
                  :to="{ name: 'admin.orderstatus', params:{status:6}}"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-signal"></i>
                  <p>ออร์เดอร์ที่สำเร็จแล้ว</p>
                </router-link>
              </li>
              <div class="user-panel"></div>

              <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library-->
              <li class="nav-header">DASHBOARD</li>
              <li class="nav-item">
                <router-link :to="{ name: 'admin.stats' }" class="nav-link" active-class="active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </router-link>
              </li>
              <div class="user-panel"></div>
              <li class="nav-header">PRODUCT</li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'admin.products' }"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fa-icon fas fa-th"></i>
                  <p>จัดการสินค้า</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'admin.models' }" class="nav-link" active-class="active">
                  <i class="fas fa-shopping-basket"></i>
                  <p>จัดการรุ่นสินค้า</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'admin.categories' }"
                  class="nav-link"
                  active-class="active"
                >
                  <i class="fas fa-layer-group"></i>
                  <p>จัดการหมวดหมู่</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'admin.colors' }" class="nav-link" active-class="active">
                  <i class="fas fa-palette"></i>
                  <p>จัดการสีสินค้า</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'admin.brands' }" class="nav-link" active-class="active">
                  <i class="far fa-copyright"></i>
                  <p>จัดการแบรนด์</p>
                </router-link>
              </li>
              <div class="user-panel"></div>
              <li class="nav-header">ARTICLE</li>

              <li class="nav-item">
                <router-link :to="{ name: 'admin.article' }" class="nav-link" active-class="active">
                  <i class="far fa-newspaper"></i>
                  <p>จัดการบทความ</p>
                </router-link>
              </li>
              <!-- <li class="nav-item">
                <router-link :to="{ name: 'admin.models' }" class="nav-link" active-class="active">
                  <i class="fas fa-shopping-basket"></i>
                  <p>จัดการ model</p>
                </router-link>
              </li>-->
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <child />
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Childrent © All Rights Reserved 2019</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.0.0
        </div>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    appName: window.config.appName
  }),

  computed: mapGetters({
    user: "auth/user"
  }),

  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");

      // Redirect to login.
      this.$router.push({ name: "login" });
    }
  }
};
</script>

<style>
@import url("/dist/css/adminlte.css");
@import url("/plugins/fontawesome-free/css/all.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.csss");
@import url("/plugins/icheck-bootstrap/icheck-bootstrap.min.css");
@import url("/plugins/jqvmap/jqvmap.min.css");
@import url("/plugins/overlayScrollbars/css/OverlayScrollbars.min.css");
@import url("/plugins/daterangepicker/daterangepicker.css");
@import url("/plugins/summernote/summernote-bs4.css");
</style>
